services:
  demo-l1-network:
    #build:
    #  dockerfile: docker/geth-l1.Dockerfile
    #  context: .
    image: ghcr.io/espressosystems/timeboost/geth-l1:rollup-creator-round2
    command: --dev --dev.period=1 --verbosity=2
    ports:
      - 8545:8545
      - 8546:8546
    #volumes:
    #  - "./geth-config/genesis-default.json:/genesis.json"
    #  - "./geth-config/test-jwt-secret.txt:/config/test-jwt-secret.txt"
    networks:
      - timeboost
    healthcheck:
      test: ["CMD", "curl", "-s", "-X", "POST", "--data", '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":1}', "-H", "Content-Type: application/json", "http://localhost:8545"]
      interval: 5s
      timeout: 3s
      retries: 10
  espresso-dev-node:
    pid: host
    image: ghcr.io/espressosystems/espresso-sequencer/espresso-dev-node:main
    ports:
      - "41000:41000"
      - "41003:41003"
      - "20000:20000"
    environment:
      - ESPRESSO_BUILDER_PORT=41003
      - ESPRESSO_DEPLOYER_ACCOUNT_INDEX=5
      - ESPRESSO_DEV_NODE_PORT=20000
      - ESPRESSO_SEQUENCER_API_PORT=41000
      - ESPRESSO_SEQUENCER_ETH_MNEMONIC=indoor dish desk flag debris potato excuse depart ticket judge file exit
      - ESPRESSO_SEQUENCER_L1_PROVIDER=http://demo-l1-network:8545
      - ESPRESSO_SEQUENCER_DATABASE_MAX_CONNECTIONS=25
      - ESPRESSO_DEV_NODE_EPOCH_HEIGHT=1000000
      - ESPRESSO_DEV_NODE_MAX_BLOCK_SIZE=10485760
      - ESPRESSO_SEQUENCER_STORAGE_PATH=/data/espresso
      - RUST_LOG=WARN
      - RUST_LOG_FORMAT
      - ESPRESSO_DEV_NODE_VERSION=0.4
    volumes:
      - espresso_storage:/data/espresso
    depends_on:
      demo-l1-network:
        condition: service_healthy
    networks:
      - timeboost
  rollup-creator:    
    pid: host
    #build:
    #  dockerfile: docker/rollupcreator.Dockerfile
    #  context: .
    #  args:
    #    NITRO_CONTRACTS_BRANCH: v3.1.0
    image: ghcr.io/espressosystems/timeboost/rollup-creator:rollup-creator-timeboost-contracts
    volumes:
      - "config:/config"
    #  - "./nitro-config:/nitro-config"
    environment:
      AUTHORIZE_VALIDATORS: 10
      CHAIN_DEPLOYMENT_INFO: "/config/deployment.json"
      CHILD_CHAIN_CONFIG_PATH: "/nitro-config/l2_chain_config.json"
      CHILD_CHAIN_INFO: "/config/deployed_chain_info.json"
      CHILD_CHAIN_NAME: "arb-dev-test"
      DEPLOYER_PRIVKEY: 0x4f3edf983ac636a65a842ce7c78d9aa706d3b113b37f60c1b6d9d1f0a5b2b5ff
      MAX_DATA_SIZE: 117964
      OWNER_ADDRESS: 0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E
      PARENT_CHAIN_ID: 1337
      PARENT_CHAIN_RPC: "http://demo-l1-network:8545"
      SEQUENCER_ADDRESS: 0x2F1eAe7Dd46D88f08fC2f8ED27Fcb2Ab183eb2d0
      WASM_MODULE_ROOT: 0xdb698a2576298f25448bc092e52cf13b1e24141c997135d70f217d674bbeb69a
      BATCH_POSTERS: 0x3f1eae7d46d88f08fc2f8ed27fcb2ab183eb2d0e
    command: ["create-rollup-testnode"]
    networks:
      - timeboost 
    depends_on:
      demo-l1-network:
        condition: service_healthy
  account-generator:
    image: ghcr.io/espressosystems/account-generator:latest
    volumes:
      - l1keystore:/l1keystore
    environment:
      - ESPRESSO_SEQUENCER_ETH_MNEMONIC=indoor dish desk flag debris potato excuse depart ticket judge file exit
      - L1_PASSPHRASE=passphrase
    networks:
      - timeboost
    depends_on:
      demo-l1-network:
        condition: service_healthy
  config-producer:
    user: root
    image: ghcr.io/espressosystems/timeboost:main
    environment:
      - RUST_LOG=trace
    volumes:
      - "config:/config"
    entrypoint: 
      - sh
      - -c
      - >
        /app/mkconfig -n 4 --committee-id 0 \
          --bind "node:8000" \
          --public-mode "docker-dns" \
          --nitro-addr "nitro:55000" \
          --nitro-mode "docker-dns" \
          --batch-poster-api "host.docker.internal:8547" \
          --chain-namespace 412346 \
          --parent-rpc-url "http://demo-l1-network:8545" \
          --parent-ws-url "ws://demo-l1-network:8546" \
          --parent-chain-id 1337 \
          --parent-ibox-contract "$(jq -r '.inbox' /config/deployment.json)" \
          --key-manager-contract "0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35" \
          --timestamp $(date -u +"%Y-%m-%dT%H:%M:%SZ") \
          --stamp-dir "/tmp" \
          --espresso-base-url "http://espresso-dev-node:41000/v1/" \
          --espresso-websocket-url "ws://espresso-dev-node:41000/v1/" \
          --output "/config"
    networks:
      - timeboost
    depends_on:
      rollup-creator:
        condition: service_completed_successfully
  contract-deployer:
    image: ghcr.io/espressosystems/timeboost:main
    environment:
      - RUST_LOG=debug
    volumes:
      - "config:/config"
    entrypoint: 
      - sh
      - -c
      - "/app/scripts/deploy-contract -d /app/deploy -r /app/register -c /config/committee.toml -u http://demo-l1-network:8545"
    networks:
      - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
  nitro0:
    pid: host # allow debugging
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:feat-timeboost-integration-3-6-7
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8547:8547"
      - "127.0.0.1:8548:8548"
      - "127.0.0.1:9642:9642"
      - "127.0.0.1:55000:55000"
    volumes:
      - "nitro0:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
      - "tokenbridge-data:/tokenbridge-data"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.feed.output.enable
      - --node.feed.output.port=9642
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.seq-coordinator.my-url=http://nitro0:8547
      - --graphql.enable
      - --graphql.vhosts=*
      - --graphql.corsdomain=*
      - --node.decentralized-timeboost-sequencer.block-retry-duration=0s
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node0:8003
      - --node.batch-poster.decentralized-timeboost-batch-verifier.private-key=3hzb3bRzn3dXSV1iEVE6mU4BF2aS725s8AboRxLwULPp
    networks:
       - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-s", "-X", "POST", "--data", '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}', "-H", "Content-Type: application/json", "http://localhost:8547"]
      interval: 5s
      timeout: 3s
      retries: 12        
  nitro1:
    pid: host # allow debugging
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:feat-timeboost-integration-3-6-7
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8557:8547"
      - "127.0.0.1:8558:8548"
      - "127.0.0.1:9742:9642"
      - "127.0.0.1:55010:55000"
    volumes:
      - "nitro1:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
      - "tokenbridge-data:/tokenbridge-data"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro1:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.block-retry-duration=0s    
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node1:8003
      - --node.batch-poster.decentralized-timeboost-batch-verifier.private-key=FWJzNGvEjFS3h1N1sSMkcvvroWwjT5LQuGkGHu9JMAYs
    networks:
       - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-s", "-X", "POST", "--data", '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}', "-H", "Content-Type: application/json", "http://localhost:8547"]
      interval: 5s
      timeout: 3s
      retries: 12
  nitro2:
    pid: host # allow debugging
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:feat-timeboost-integration-3-6-7
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8567:8547"
      - "127.0.0.1:8568:8548"
      - "127.0.0.1:9842:9642"
      - "127.0.0.1:55020:55000"
    volumes:
      - "nitro2:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
      - "tokenbridge-data:/tokenbridge-data"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro2:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.block-retry-duration=0s
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node2:8003
      - --node.batch-poster.decentralized-timeboost-batch-verifier.private-key=2yWTaC6MWvNva97t81cd9QX5qph68NnB1wRVwAChtuGr
    networks:
       - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-s", "-X", "POST", "--data", '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}', "-H", "Content-Type: application/json", "http://localhost:8547"]
      interval: 5s
      timeout: 3s
      retries: 12        
  nitro3:
    pid: host # allow debugging
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:feat-timeboost-integration-3-6-7
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8577:8547"
      - "127.0.0.1:8578:8548"
      - "127.0.0.1:9942:9642"
      - "127.0.0.1:55030:55000"
    volumes:
      - "nitro3:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
      - "tokenbridge-data:/tokenbridge-data"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro3:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.block-retry-duration=0s
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node3:8003
      - --node.batch-poster.decentralized-timeboost-batch-verifier.private-key=CUpkbkn8bix7ZrbztPKJwu66MRpJrc1Wr2JfdrhetASk
    networks:
       - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-s", "-X", "POST", "--data", '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}', "-H", "Content-Type: application/json", "http://localhost:8547"]
      interval: 5s
      timeout: 3s
      retries: 12
  node0:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      [
        "/app/timeboost",
        "--config", "/config/node_0.toml",
        "--https-only", "false",
      ]
    volumes:
      - "config:/config"
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8100:8004"
      - "8800:8800"
      - "9000:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node0:8004/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: on-failure
  node1:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      [
        "/app/timeboost",
        "--config", "/config/node_1.toml",
        "--https-only", "false",
      ]
    volumes:
      - "config:/config"    
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8101:8004"
      - "8801:8800"
      - "9001:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node1:8004/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10      
    restart: on-failure
  node2:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      [
        "/app/timeboost",
        "--config", "/config/node_2.toml",
        "--https-only", "false",
      ]
    volumes:
      - "config:/config"      
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8102:8004"
      - "8802:8800"
      - "9002:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node2:8004/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: on-failure
  node3:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      [
        "/app/timeboost",
        "--config", "/config/node_3.toml",
        "--https-only", "false",
      ]
    volumes:
      - "config:/config"      
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8103:8004"
      - "8803:8800"
      - "9003:9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node3:8004/i/health"]
      interval: 10s
      timeout: 3s
      retries: 20      
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    restart: on-failure
  threshold-key-register:
    image: ghcr.io/espressosystems/timeboost:main
    environment:
      - RUST_LOG=info
    volumes:
      - "config:/config"      
    entrypoint:
      - sh
      - -c
      - "sleep 30s && /app/register --max-members 4 -a threshold-enc-key -m 'attend year erase basket blind adapt stove broccoli isolate unveil acquire category' -u http://demo-l1-network:8545 -k 0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35 -c /config/committee.toml"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    networks:
      - timeboost
    restart: on-failure
  block-checker:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      [
        "/app/block-checker",
        "-c", "/config",
        "-b", "20000",
        "--https-only", "false",
        "--max-nodes", "4"
      ]
    volumes:
      - "config:/config"
    environment:
      - RUST_LOG=trace
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
  yapper:
    image: ghcr.io/espressosystems/timeboost:main
    command:
      - /app/yapper
      - --config
      - /config/
      - --nitro-url
      - http://nitro0:8547
      - --max-nodes
      - '4'
    volumes:
      - "config:/config"
    environment:
      - RUST_LOG=info
    networks:
      - timeboost
    depends_on:
      threshold-key-register:
        condition: service_completed_successfully

networks:
  timeboost:
    driver: bridge

volumes:
  config:
  l1keystore:
  espresso_storage:
  nitro0:
  nitro1:
  nitro2:
  nitro3:
  tokenbridge-data: