# Cleanup previous run:

[[step]]
[step.action]
kind  = "remove"
files = [
    "/tmp/timeboost.24hzR236zciuEFgtq7n2uHhoJBYkHDtd2s8LCCURLRfvU.stamp",
    "/tmp/timeboost.264jMLf85hfufg4ck97Hw2jiL6i1PHNoGUqxUqfhtssaE.stamp",
    "/tmp/timeboost.26zcQ6VfgK5eS9ABtaAg4roUfivEbEVBJFDsZgML8tbxy.stamp",
    "/tmp/timeboost.28NkSnRnefwgwoP5Xj1Xo21bAHpVQcYEYouTNyjyjH5V3.stamp",
    "/tmp/timeboost.eiwaGN1NNaQdbnR9FsjKzUeLghQZsTLPjiL4RcQgfLoX.stamp"
]

# Start whole committee one by one:

[[step]]
[step.action]
kind = "start-node"
node = "24hzR236zciuEFgtq7n2uHhoJBYkHDtd2s8LCCURLRfvU"

[[step]]
[step.action]
kind = "start-node"
node = "264jMLf85hfufg4ck97Hw2jiL6i1PHNoGUqxUqfhtssaE"

[[step]]
[step.action]
kind = "start-node"
node = "26zcQ6VfgK5eS9ABtaAg4roUfivEbEVBJFDsZgML8tbxy"

[[step]]
[step.action]
kind = "start-node"
node = "28NkSnRnefwgwoP5Xj1Xo21bAHpVQcYEYouTNyjyjH5V3"

[[step]]
[step.action]
kind = "start-node"
node = "eiwaGN1NNaQdbnR9FsjKzUeLghQZsTLPjiL4RcQgfLoX"
