services:
  demo-l1-network:
    image: ghcr.io/espressosystems/timeboost/geth-l1:rollup-creator-round2
    command: --dev --dev.period=1 --verbosity=2
    ports:
      - 8545:8545
      - 8546:8546
    networks:
      - timeboost
  espresso-dev-node:
    pid: host
    image: ghcr.io/espressosystems/espresso-sequencer/espresso-dev-node:main
    ports:
      - "41000:41000"
      - "41003:41003"
      - "20000:20000"
    environment:
      - ESPRESSO_BUILDER_PORT=41003
      - ESPRESSO_DEPLOYER_ACCOUNT_INDEX=5
      - ESPRESSO_DEV_NODE_PORT=20000
      - ESPRESSO_SEQUENCER_API_PORT=41000
      - ESPRESSO_SEQUENCER_ETH_MNEMONIC=indoor dish desk flag debris potato excuse depart ticket judge file exit
      - ESPRESSO_SEQUENCER_L1_PROVIDER=http://demo-l1-network:8545
      - ESPRESSO_SEQUENCER_DATABASE_MAX_CONNECTIONS=25
      - ESPRESSO_DEV_NODE_EPOCH_HEIGHT=1000000
      - ESPRESSO_DEV_NODE_MAX_BLOCK_SIZE=10485760
      - ESPRESSO_SEQUENCER_STORAGE_PATH=/data/espresso
      - RUST_LOG=WARN
      - RUST_LOG_FORMAT
      - ESPRESSO_DEV_NODE_VERSION=0.4
    volumes:
      - espresso_storage:/data/espresso
    depends_on:
      demo-l1-network:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-s",
          "-X",
          "POST",
          "--data",
          '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":1}',
          "-H",
          "Content-Type: application/json",
          "http://localhost:8545",
        ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - timeboost
  rollup-creator:
    pid: host
    image: ghcr.io/espressosystems/timeboost/rollup-creator:main
    volumes:
      - "config:/config"
    environment:
      AUTHORIZE_VALIDATORS: 10
      CHAIN_DEPLOYMENT_INFO: "/config/deployment.json"
      CHILD_CHAIN_CONFIG_PATH: "/nitro-config/l2_chain_config.json"
      CHILD_CHAIN_INFO: "/config/deployed_chain_info.json"
      CHILD_CHAIN_NAME: "arb-dev-test"
      DEPLOYER_PRIVKEY: 0x4f3edf983ac636a65a842ce7c78d9aa706d3b113b37f60c1b6d9d1f0a5b2b5ff
      MAX_DATA_SIZE: 117964
      OWNER_ADDRESS: 0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E
      PARENT_CHAIN_ID: 1337
      PARENT_CHAIN_RPC: "http://demo-l1-network:8545"
      SEQUENCER_ADDRESS: 0x2F1eAe7Dd46D88f08fC2f8ED27Fcb2Ab183eb2d0
      WASM_MODULE_ROOT: 0xdb698a2576298f25448bc092e52cf13b1e24141c997135d70f217d674bbeb69a
    command: ["create-rollup-testnode"]
    networks:
      - timeboost
    depends_on:
      demo-l1-network:
        condition: service_healthy
  config-producer:
    user: root
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    environment:
      - RUST_LOG=trace
    volumes:
      - "config:/config"
    entrypoint: |
      bash -c '
        mkdir /config/committees
        set -euo pipefail
        cat <<EOF > /config/chain.toml
      id = 1337
      rpc-url = "http://demo-l1-network:8545/"
      websocket-url = "ws://demo-l1-network:8546/"
      key-management-contract = "0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35"
      inbox-contract = "$$(jq -r ".inbox" /config/deployment.json)"
      inbox-block-tag = "finalized"
      EOF
        for i in $$(seq 0 3); do
          echo "Running configure for node $$i with seed $$((42 + i))"
          /app/configure \
            --seed $$((42 + i)) \
            --bind "0.0.0.0:8000" \
            --external "node$$i:8000" \
            --nitro "nitro$$i:55000" \
            --batchposter "nitro$$i:8547" \
            --espresso-namespace 412346 \
            --espresso-base-url "http://espresso-dev-node:41000/v1/" \
            --espresso-websocket-url "ws://espresso-dev-node:41000/v1/" \
            --chain-rpc-url "http://demo-l1-network:8545" \
            --chain-websocket-url "ws://demo-l1-network:8546" \
            --chain-id 1337 \
            --inbox-contract $$(jq -r ".inbox" /config/deployment.json) \
            --committee-contract "0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35" \
            --apikey "sEVxPYlY3Rwte9ZApZDZPd-K7TCiZnBlhZp7se8jVWM=" \
            --output "/config"
        done
        /app/assemble \
          --committee 0 \
          --start 2025-10-01T00:00:00Z \
          --output /config/committees/docker.toml \
          /config/*.public.toml
      '
    networks:
      - timeboost
    depends_on:
      rollup-creator:
        condition: service_completed_successfully
  contract-deployer:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    environment:
      - RUST_LOG=debug
    volumes:
      - "config:/config"
    entrypoint:
      - sh
      - -c
      - >
        /app/contract deploy \
          --index 0 \
          --mnemonic "attend year erase basket blind adapt stove broccoli isolate unveil acquire category" \
          --rpc-url "http://demo-l1-network:8545" && \
        /app/contract register-committee \
          --committee /config/committees/docker.toml \
          --index 0 \
          --rpc-url "http://demo-l1-network:8545" \
          --contract "0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35" \
          --mnemonic "attend year erase basket blind adapt stove broccoli isolate unveil acquire category" && \
        /app/funder \
          --committee "/config/committees/docker.toml" \
          --parent-rpc-url "http://demo-l1-network:8545"
    networks:
      - timeboost
    depends_on:
      config-producer:
        condition: service_completed_successfully
  nitro0:
    pid: host
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:li-timeboost-systemd-notifier
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8547:8547"
      - "127.0.0.1:8548:8548"
      - "127.0.0.1:9642:9642"
      - "127.0.0.1:55000:55000"
    volumes:
      - "nitro0:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.feed.output.enable
      - --node.feed.output.port=9642
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.seq-coordinator.my-url=http://nitro0:8547
      - --graphql.enable
      - --graphql.vhosts=*
      - --graphql.corsdomain=*
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node0:8004
      - --node.batch-poster.parent-chain-wallet.private-key=2837b8532d9be65995b377eae666b386143f1f211999a05444d395203640ef0f
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-s",
          "-X",
          "POST",
          "--data",
          '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}',
          "-H",
          "Content-Type: application/json",
          "http://localhost:8547",
        ]
      interval: 5s
      timeout: 3s
      retries: 12
  nitro1:
    pid: host
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:li-timeboost-systemd-notifier
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8557:8547"
      - "127.0.0.1:8558:8548"
      - "127.0.0.1:9742:9642"
      - "127.0.0.1:55010:55000"
    volumes:
      - "nitro1:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro1:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node1:8004
      - --node.batch-poster.parent-chain-wallet.private-key=8c2a14253df56cc16553a61406ec6da1e4ecfd7053f66e9e15367a6f1459f6a0
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-s",
          "-X",
          "POST",
          "--data",
          '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}',
          "-H",
          "Content-Type: application/json",
          "http://localhost:8547",
        ]
      interval: 5s
      timeout: 3s
      retries: 12
  nitro2:
    pid: host
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:li-timeboost-systemd-notifier
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8567:8547"
      - "127.0.0.1:8568:8548"
      - "127.0.0.1:9842:9642"
      - "127.0.0.1:55020:55000"
    volumes:
      - "nitro2:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro2:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node2:8004
      - --node.batch-poster.parent-chain-wallet.private-key=da0488a39b7e47c4677804a0911a2a4e4604ef9d0b3aefa44dca7de598866e3d
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-s",
          "-X",
          "POST",
          "--data",
          '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}',
          "-H",
          "Content-Type: application/json",
          "http://localhost:8547",
        ]
      interval: 5s
      timeout: 3s
      retries: 12
  nitro3:
    pid: host
    image: ghcr.io/espressosystems/nitro-espresso-integration/nitro-node:li-timeboost-systemd-notifier
    entrypoint: /usr/local/bin/nitro
    ports:
      - "127.0.0.1:8577:8547"
      - "127.0.0.1:8578:8548"
      - "127.0.0.1:9942:9642"
      - "127.0.0.1:55030:55000"
    volumes:
      - "nitro3:/home/user/.arbitrum/local/nitro"
      - "l1keystore:/home/user/l1keystore"
      - "config:/config"
      - "./nitro-config:/nitro-config"
    command:
      - --conf.file=/nitro-config/sequencer_config.json
      - --node.seq-coordinator.my-url=http://nitro3:8547
      - --http.api=net,web3,eth,txpool,debug,timeboost,auctioneer,batcher
      - --node.decentralized-timeboost-sequencer.decentralized-timeboost-bridge-config.internal-timeboost-grpc-url=node3:8004
      - --node.batch-poster.parent-chain-wallet.private-key=ddaf9416def9dc9a2729d3ddd631508ff4e4d75e66451bb219ad42fb944223a0
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-s",
          "-X",
          "POST",
          "--data",
          '{\"jsonrpc\":\"2.0\",\"method\":\"eth_blockNumber\",\"params\":[],\"id\":1}',
          "-H",
          "Content-Type: application/json",
          "http://localhost:8547",
        ]
      interval: 5s
      timeout: 3s
      retries: 12
  node0:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/timeboost",
        "--https-only",
        "false",
        "--config",
        "/config/eiwaGN1NNaQdbnR9FsjKzUeLghQZsTLPjiL4RcQgfLoX.toml",
      ]
    volumes:
      - "config:/config"
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8100:8003"
      - "8800:8800"
      - "9000:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node0:8003/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: on-failure
  node1:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/timeboost",
        "--https-only",
        "false",
        "--config",
        "/config/23as9Uo6W2AeGronB6nMpcbs8Nxo6CoJ769uePw9sf6Ud.toml",
      ]
    volumes:
      - "config:/config"
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8101:8003"
      - "8801:8800"
      - "9001:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node1:8003/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: on-failure
  node2:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/timeboost",
        "--https-only",
        "false",
        "--config",
        "/config/21R4uDwS7fdxsNPWy92DArC575sYiQdEasFBVEpH8m53e.toml",
      ]
    volumes:
      - "config:/config"
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8102:8003"
      - "8802:8800"
      - "9002:9000"
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node2:8003/i/health"]
      interval: 10s
      timeout: 3s
      retries: 10
    restart: on-failure
  node3:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/timeboost",
        "--https-only",
        "false",
        "--config",
        "/config/qh3tJ83Ko7f6B9ksPj8PPwTshFmToj9zbjcgPCegar7m.toml",
      ]
    volumes:
      - "config:/config"
    networks:
      - timeboost
    environment:
      - RUST_LOG=timeboost=info,sailfish=warn,cliquenet=warn,timeboost-builder=debug,robusta=info,timeboost::forwarder=trace,warn
    ports:
      - "8103:8003"
      - "8803:8800"
      - "9003:9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://node3:8003/i/health"]
      interval: 10s
      timeout: 3s
      retries: 20
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    restart: on-failure
  threshold-key-register:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    environment:
      - RUST_LOG=info
    volumes:
      - "config:/config"
    entrypoint:
      - sh
      - -c
      - >
        /app/contract register-key \
          --mnemonic "attend year erase basket blind adapt stove broccoli isolate unveil acquire category" \
          --rpc-url "http://demo-l1-network:8545" \
          --apikey "sEVxPYlY3Rwte9ZApZDZPd-K7TCiZnBlhZp7se8jVWM=" \
          --contract "0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35" \
          --index 0
    depends_on:
      nitro0:
        condition: service_healthy
      nitro1:
        condition: service_healthy
      nitro2:
        condition: service_healthy
      nitro3:
        condition: service_healthy
    networks:
      - timeboost
    restart: on-failure
  block-checker:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/block-checker",
        "--chain",
        "/config/chain.toml",
        "--namespace",
        "412346",
        "--espresso-base-url",
        "http://espresso-dev-node:41000/v1/",
        "--espresso-websocket-base-url",
        "ws://espresso-dev-node:41000/v1/",
        "--https-only",
        "false",
        "--blocks",
        "100",
      ]
    volumes:
      - "config:/config"
    environment:
      - RUST_LOG=info
    networks:
      - timeboost
    depends_on:
      contract-deployer:
        condition: service_completed_successfully
    restart: on-failure
  block-verifier:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    command:
      [
        "/app/block-verifier",
        "--nitro-urls",
        "http://nitro0:8547,http://nitro1:8547,http://nitro2:8547,http://nitro3:8547",
      ]
    environment:
      - RUST_LOG=info
    networks:
      - timeboost
    depends_on:
      block-checker:
        condition: service_completed_successfully
  tx-generator:
    image: ${TIMEBOOST_IMAGE:-ghcr.io/espressosystems/timeboost:main}
    environment:
      - RUST_LOG=info
    entrypoint: |
      bash -c '
        rpc="http://demo-l1-network:8545"
        contract=0x2bbf15bc655c4cc157b769cfcb1ea9924b9e1a35
        private_key=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
        keys=$(cast wallet new -n 10 --json | jq -r '.[].private_key')
        for key in $$keys; do
            addr=$(cast wallet address $$key)
            echo "Bridging funds for: $$addr"
            cast send $$addr --value 101ether --rpc-url $$rpc --private-key $$private_key
            cast send $$(jq -r '.inbox' /config/deployment.json) "depositEth()" \
              --value 100ether \
              --rpc-url $$rpc \
              --private-key $$key
        done
        /app/tx-generator \
            --chain /config/chain.toml \
            --namespace 412346 \
            --tps 10 \
            --nitro \
            --apikey "sEVxPYlY3Rwte9ZApZDZPd-K7TCiZnBlhZp7se8jVWM=" \
            --signers $(echo "$$keys" | paste -sd ',' -)
      '
    volumes:
      - "config:/config"
    networks:
      - timeboost
    depends_on:
      threshold-key-register:
        condition: service_completed_successfully
networks:
  timeboost:
    driver: bridge

volumes:
  config:
  l1keystore:
  espresso_storage:
  nitro0:
  nitro1:
  nitro2:
  nitro3:
