# Logs

[sources.vector]
type = "internal_logs"

[sources.journal]
type = "journald"
include_units = ["timeboost", "nitro"]

[transforms.logs-with-metadata]
type = "aws_ec2_metadata"
inputs = ["journal"]
fields = [
    "ami-id",
    "availability-zone",
    "instance-id",
    "instance-type",
    "local-ipv4",
    "region",
    "subnet-id",
    "vpc-id",
    "role-name",
]

[sinks.console]
type = "console"
inputs = ["vector"]
encoding.codec = "text"

[sinks.aws-cloudwatch]
type = "aws_cloudwatch_logs"
inputs = ["logs-with-metadata"]
region = "eu-central-1"
group_name = "timeboost"
encoding.codec = "json"
stream_name = "{{ host }}"

# Metrics

[sources.host]
type = "host_metrics"
collectors = ["memory"]
scrape_interval_secs = 30

[sources.timeboost-metrics]
type = "prometheus_scrape"
endpoints = [ "http://127.0.0.1:8003/i/metrics" ]

[transforms.filtered-host]
type = "filter"
inputs = ["host"]
condition = { type = "vrl", source = ".name == \"memory_used_bytes\"" }

[sinks.aws-cloudwatch-metrics]
type = "aws_cloudwatch_metrics"
inputs = ["filtered-host", "timeboost-metrics"]
region = "eu-central-1"
default_namespace = "timeboost"
