[Unit]
Description=Timeboost
After=network.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/tx-generator -c /etc/tx-generator/chain.toml --namespace 13429355 --tps 1 --nitro
Environment=RUST_LOG_FORMAT=json
Environment=RUST_LOG={{LOG_DIRECTIVES}}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
