[Unit]
Description=Timeboost
After=network.target nitro.service
Requires=network-online.target
Wants=nitro.service

[Service]
ExecStart=/usr/local/bin/timeboost -c /etc/timeboost/timeboost.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
