[Unit]
Description=Timeboost
After=network.target nitro.service
Requires=network-online.targets
BindsTo=nitro.service

[Service]
ExecStart=/usr/local/bin/timeboost -c /etc/timeboost/timeboost.toml
Environment=RUST_LOG_FORMAT=json
Environment=RUST_LOG={{LOG_DIRECTIVES}}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
